@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>

<p><hr /><b>This site was developed using the following tools and information:</b><br /><br />
    Microsoft Visual Studio Express 2013 for Web with MVC 5.1 and HTML5<br />
    <i>Note:  Rumors (and blogs) says the HTML5 stuff only works on a select browsers, so run this in<br />
    Google Chrome.  Obviously, if this was a production site, I would have to code for all major browsers.</i> <br /><br />
    Get weather query string from <a href="http://code.msdn.microsoft.com/windowsapps/Weather-app-for-Windows-e3248d74" target="_blank">MSDN</a>.<br />
    Google Geocoder code snippet found at <a href="http://stackoverflow.com/questions/16274508/how-to-call-google-geocode-service-from-c-sharp-code" target="_blank">stackoverflow</a>.<br />
    HTML5 Geolocation and map display from <a href="http://www.w3schools.com/html/html5_geolocation.asp" target="_blank">w3schools.com</a>.<br />
    Downloading PDF files: <a href="http://www.hongkiat.com/blog/html5-download-attribute\" target="_blank">HTML5 Download Attribute</a><br />
    Wind direction and degrees <a href="http://climate.umn.edu/snow_fence/components/winddirectionanddegreeswithouttable3.htm" target="_blank">conversion table</a>.<br />
    <br /><br />
</p>
