@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>
<hr />

<address>
    <table>
        <tr>
            <td width="40%">
                Mike Gilbert<br />
                1009 Oakton St.<br />
                Evanston, IL 60202<br /><br />
                <abbr title="Home Phone"><strong>Home:</strong></abbr>
                (847) 475-7454
                <br />
                <abbr title="Cell Phone"><strong>Cell:</strong></abbr>
                (847) 922-0299
            </td>
            <td width="60%">
                <img src="/files/Mike.jpg" width="500px" />
            </td>
        </tr>
    </table>
</address>
<br />

<address>
    <strong>Email:</strong>   <a href="mailto:MLGilbert7@gmail.com">MLGilbert7@gmail.com</a><br />
    <strong>Resume:</strong>  <a href="/files/MGilbertResume.pdf" download="MGilbertResume.pdf">Download</a> or <a href="/files/MGilbertResume.pdf">View</a>
</address>